---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="container">
	<h1>Work in progress...</h1>
</div>

<style>
	.container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	main {
		height: 100%;
		display: flex;
		justify-content: center;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	@media screen and (max-width: 768px) {
		h1 {
			line-height: 1.5;
		}
	}
</style>
